click==8.0.3
colorama==0.4.4
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pyodbc @ file:///C:/Users/Federico/Downloads/pyodbc-4.0.32-cp310-cp310-win_amd64.whl
python-dotenv==0.19.2
Werkzeug==2.0.2
