{% extends "base.html" %}

{% block title %} 404 {% endblock %}
{% block custom %}
    <style>
        body {
            background: #000;
        }

        .error {
            margin: 10% auto;
            width: 40%;
            padding: 50px 0;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            border: 2px solid #800;
            border-radius: 6px;
        }

        .error h1 {
            color: #900;
            font-size: 42px;
        }

        .error h2 {color: aquamarine; font-size: 24px;}
    </style>
{% endblock %}

{% block content %}
    <div class="error">
        <h1>Error 404</h1>
        <h2>La página no existe...</h2>
        <h2>Aún</h2>
    </div>
{% endblock %}