{% extends 'base.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block custom %}
    <style>
        * {
            font-size: 1.05em;
        }

        li {
            list-style: none;
        }

        a {
            margin-left: 10%;
            text-decoration: none;
            color: lightblue;
        }
    </style>
{% endblock %}

{% block content %}
    <p>Página en construcción...</p>
    <ul>
        <p>Links útiles:</p>
        {% for lista in range(1) %}
            <li>
                <a href="/items">/items</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}